
/*--------------GLOBAL STYLES------------*/
body {
    height: 100%;
	width: 100%;
}

/*--------------NAV STYLES---------------*/

/* header { 
	position: absolute;
} */

nav {
	background-color: #262C3A;
}

.navbar .navbar-expand-lg > div > ul > li > a .nav-link {
	color: white;
}

/*------------PAGE STYLES-----------------*/

.page-header {
	font-size: 40px;
	color: black;
}

/*-----------------PAGE 1------------------*/

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/*---------------NEWS STYLES---------------*/

.promo {
	background-color: #f5f5f5;
}

.promo > img {
	margin: 20px;
}

.promo > p {
	margin: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.promo-1 {
	
}

.promo-1 > img {
	float: left;
}

.promo-2 {

}

.promo-2 > img {
	border-radius: 50%;
}

.promo-2 > p {
	background-color: #f5f5f5;
}

.promo-2-grid {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(4, 1fr);
	width: 20vw;
	height: 20vh;
	@media screen and (max-width: 60em) {
	  grid-template-rows: repeat(4, 1fr);
	}
}

.promo-2-grid > .grid-1 {
	margin: 0;
	background-color: red;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 1;
	@media screen and (max-width: 60em) {
	  grid-column-start: 1;
	  grid-column-end: 5;
	  grid-row: 1;
	}
}
  
.promo-2-grid > .grid-2 {
	margin: 0;
	background-color: green;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row: 1;
	@media screen and (max-width: 60em) {
	  grid-column-start: 1;
	  grid-column-end: 5;
	  grid-row: 2;
	}
}
  
.promo-2-grid > .grid-3 {
	margin: 0;
	background-color: orange;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 2;
	@media screen and (max-width: 60em) {
	  grid-column-start: 1;
	  grid-column-end: 5;
	  grid-row: 3;
	}
}
  
.promo-2-grid > .grid-4 {
	margin: 0;
	background-color: aqua;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row: 2;
	@media screen and (max-width: 60em) {
	  grid-column-start: 1;
	  grid-column-end: 5;
	  grid-row: 4;
	}
}

.promo-3 {

}

.promo-4 {

}

/*------------PARALLAX STYLES------------*/

.parallax {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

/* .parallax-scroll {
	min-height: 20%;
} */

.parallax.parallax-1 {
	/* background-image: url(""); */
	background-color: #262C3A;
}

.parallax.parallax-2 {
	/* background-image: url(""); */
	/* background-color: red; */
}

.parallax.parallax-3 {
	/* background-image: url(""); */
	/* background-color: green; */
}

.parallax.parallax-4 {
	/* background-image: url(""); */
	/* background-color: purple; */
}

.parallax.parallax-5 {
	/* background-image: url(""); */
	background-color: orange;
}

/*---------------FOOTER STYLES--------------*/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
  }